<br>
<br>
<br>
<div>
    <img id="shogunIMG" src="images/Shogun1080.jpg" alt="Front picture of Shogun">
</div>
<h1 id="mainPage">Shogun Inventory API</h1>
<div>
<a href="/inventoryPage"><button>INVENTORY</button></a>
<a href="/videosPage"><button>INSTRUCTIONAL VIDEOS</button></a>
<a href="/picReferences"><button>PICTURE REFERENCES</button></a>
</div>
<br>
<br>
<div id="info">
    <lable for="address">4096 N Steele Blvd, Fayetteville, AR 72703</lable></div>
<div>
    <lable for="shogunPhone">(479) 442-9999</lable></div>
<div>
    <lable for="shogunWebPage"></lable>
    <a href="https://www.shogunfayetteville.com/">https://www.shogunfayetteville.com/</a>
</div>
<div>
    <lable for="shogunEMAIL">SHOGUN.NWA@GMAIL.COM</lable></div>