<h1>Main Page</h1>
<div>
<a href="/inventoryPage"><button>INVENTORY</button></a>
<a href="/videosPage"><button>INSTRUCTIONAL VIDEOS</button></a>
<a href="/picReferences"><button>PICTURE REFERENCES</button></a>
</div>