<h1>{{ title }}</h1>
<form action="/sentForm" method="POST">
    <div><button type="reset">RESET</button></div><br/>
    <table border="1">
        <tr>
            <td>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Tuna (Saku)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div>
                    Item:<input type="text" id="item" name="item" value="Toro" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div>
                    Item:<input type="text" id="item" name="item" value="Salmon" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div> 
                    Item:<input type="text" id="item" name="item" value="Smoke Salmon" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div> 
                <div>
                    Item:<input type="text" id="item" name="item" value="Tuna (Ground)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Yellowtail" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div>  
                    Item:<input type="text" id="item" name="item" value="Super White Tuna" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
               <div>  
                    Item:<input type="text" id="item" name="item" value="Red Snapper" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Tilapia" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Albacore" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Shrimp (butterflied)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sweet Shrimp (Amaebi)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Fresh Water Eel" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Uzushio Ika" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Octopus" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Mackerel (Saba)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sea Urchin (Uni)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div>  
                    Item:<input type="text" id="item" name="item" value="Surf Clam" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Salmon Roe (Ikura)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Smelt Roe (Masago)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Flying Fish Roe (Tobiko)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Crab Sticks (Osaki Kani Kama)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Crab Mix (Kani Kama)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Soft Shell Crab" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Calamari Steak" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sweet Egg (Tamago)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Yamagobo" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Kampyo" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Oshinko" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Tofu Skin (Inary)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Octopus Salad (Tako Salad)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Seaweed Salad (Wakame)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Mochi Ice Cream" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Green Tea Ice Cream" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Vanilla Ice Cream" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Edamame" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Pork Gyoza" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Shrimp Shumai" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Egg Rolls" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Wasabi" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sushi Vinegar (K-39)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Mirin" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Shichimi" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Seaweed Furikake" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Hondashi" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Bonito Flakes (Hana Katsuo)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="ELL Sauce (Unagi Sauce)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sriracha Sauce" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Chilli Oil (Rayu)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Tempura Mix" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Panko" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Nori 1/2 Cut" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div>  
                    Item:<input type="text" id="item" name="item" value="Nori Full Sheet" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Green Tea (Yamamoto)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sushi Rice" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sesame Seeds" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Dried Seaweed (Wakame)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Soy Sauce (5gal)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Light Soy Sauce (5gal)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Ginger (Gari)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Kaiware" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div>  
                    Item:<input type="text" id="item" name="item" value="Oba" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Bamboo Leaves" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Fresh Raddish" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Miso" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Soy Paper (Mamenori)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Sushi Mat" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Rice Net" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Mayo (Gal)" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Mayo Tubes" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Miora" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Tofu" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Udon Noodles" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Yakisoba" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Baby Scallop" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Crawfish" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div>  
                    Item:<input type="text" id="item" name="item" value="Quail Eggs" readonly>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>           
            </td>        
        </tr>
    </table><br/>
    <p>Misc. Items</p>
    <div>
        <textarea rows="5" cols="79"></textarea>
    </div><br>
    <div><button type="submit">SUBMIT</button></div>
</form>