<h1 id="newInvTitle">Inventory Order</h1>
<div id="newInvPageTopBtns">
    <a href="/"><button>Main Page</button></a>
    <a href="/logout" id="signOutBtn"><button>Sign Out</button></a>    
</div>
<form action="/sentForm" method="POST">
    <div>
        <button type="reset">RESET</button>
    </div>
    <br/>
    <table border="1" class="table table-striped">
        <tr>
            <td>
                <div class="form-group">
                    <label for="items">Items:</label>
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tuna (Saku)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Toro" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Salmon" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Smoked Salmon" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tuna (Ground)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Yellowtail" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Super White Tuna" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
               <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Red Snapper" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tilapia" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Albacore" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Shrimp (butterflied)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sweet Shrimp (Amaebi)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Fresh Water Eel" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Uzushio Ika" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Octopus" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Mackerel (Saba)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sea Urchin (Uni)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Surf Clam" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Salmon Roe (Ikura)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Smelt Roe (Masago)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Flying Fish Roe (Tobiko)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Crab Sticks (Osaki Kani Kama)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Crab Mix (Kani Kama)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Soft Shell Crab" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Calamari Steak" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sweet Egg (Tamago)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Yamagobo" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Kampyo" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Oshinko" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tofu Skin (Inary)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Octopus Salad (Tako Salad)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Seaweed Salad (Wakame)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Mochi Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Green Tea Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Vanilla Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Edamame" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Pork Gyoza" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Shrimp Shumai" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Egg Rolls" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Wasabi" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sushi Vinegar (K-39)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Mirin" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Shichimi" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Seaweed Furikake" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Hondashi" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Bonito Flakes (Hana Katsuo)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="ELL Sauce (Unagi Sauce)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sriracha Sauce" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Chilli Oil (Rayu)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tempura Mix" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Panko" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Nori 1/2 Cut" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Nori Full Sheet" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Green Tea (Yamamoto)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sushi Rice" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sesame Seeds" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Dried Seaweed (Wakame)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Soy Sauce (5gal)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Light Soy Sauce (5gal)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Ginger (Gari)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Kaiware" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Oba" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Bamboo Leaves" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Fresh Raddish" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Miso" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Soy Paper (Mamenori)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Sushi Mat" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Rice Net" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Mayo (Gal)" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Mayo Tubes" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Miora" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Tofu" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Udon Noodles" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Yakisoba" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Baby Scallop" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Crawfish" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="items"></label> 
                    <strong><input class="form-control" type="text" id="items" name="items" value="Quail Eggs" readonly></strong>
                    Quantity:<input type="number" name="items" id="quantity">
                    Unit Type:
                    <select name="items" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>           
            </td>        
        </tr>
    </table><br/>
    <lable for="misc itemss">Misc. items</lable>
    <div class="form-group">
    <textarea class="form-control" type="text" rows="5" cols="79" name="items"></textarea>
    </div>
    <br> 
    <div>
       <label for="email">SEND TO:</label>
    </div>    
    <div>        
        <input type="email" name="email" id="newFormEmail" placeholder="abc123@gmail.com" required>
    </div>
    <br>
    <div>
        <label for="phone" id="phoneLable">TEXT ALERT TO:</label>
    </div>
    <div>
        <input type="phone" name="phone" id="newFormPhone" placeholder="555-555-5555 (Optional)">
    <div>      
        <button type="submit" class="btn btn-success" id="sendBtn">SEND</button></div>     
    </div>
    <br>
    <div> 
</form> 
<br>
<br>
<br>
