<h1>{{ title }}</h1>
<form action="/sentForm" method="POST">
    <div>
        <button type="reset">RESET</button>
    </div>
    <br/>
    <table border="1" class="table table-hover">
        <tr>
            <td>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tuna (Saku)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Toro" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Salmon" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Smoke Salmon" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tuna (Ground)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Yellowtail" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Super White Tuna" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
               <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Red Snapper" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tilapia" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Albacore" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Shrimp (butterflied)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sweet Shrimp (Amaebi)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Fresh Water Eel" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Uzushio Ika" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Octopus" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Mackerel (Saba)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sea Urchin (Uni)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>   
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Surf Clam" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Salmon Roe (Ikura)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Smelt Roe (Masago)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Flying Fish Roe (Tobiko)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Crab Sticks (Osaki Kani Kama)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Crab Mix (Kani Kama)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Soft Shell Crab" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Calamari Steak" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sweet Egg (Tamago)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Yamagobo" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Kampyo" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Oshinko" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tofu Skin (Inary)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Octopus Salad (Tako Salad)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Seaweed Salad (Wakame)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Mochi Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Green Tea Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Vanilla Ice Cream" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Edamame" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Pork Gyoza" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Shrimp Shumai" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Egg Rolls" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Wasabi" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sushi Vinegar (K-39)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Mirin" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Shichimi" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Seaweed Furikake" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Hondashi" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Bonito Flakes (Hana Katsuo)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="ELL Sauce (Unagi Sauce)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sriracha Sauce" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Chilli Oil (Rayu)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tempura Mix" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Panko" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Nori 1/2 Cut" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>  
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Nori Full Sheet" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Green Tea (Yamamoto)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sushi Rice" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sesame Seeds" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Dried Seaweed (Wakame)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Soy Sauce (5gal)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Light Soy Sauce (5gal)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Ginger (Gari)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Kaiware" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>    
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Oba" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Bamboo Leaves" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Fresh Raddish" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Miso" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Soy Paper (Mamenori)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Sushi Mat" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Rice Net" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Mayo (Gal)" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Mayo Tubes" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Miora" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Tofu" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Udon Noodles" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Yakisoba" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Baby Scallop" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Crawfish" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>
                <div class="form-group">
                    <label for="item"></label> 
                    <strong><input class="form-control" type="text" id="item" name="item" value="Quail Eggs" readonly></strong>
                    Quantity:<input type="number" name="quantity" id="quantity">
                    Unit Type:
                    <select name="unitType" id="unitType">
                        <option value="Cases">Cases</option>
                        <option label="Pieces" value="Pieces"></option>
                        <option value="Bags">Bags</option>
                    </select>        
                </div>           
            </td>        
        </tr>
    </table><br/>
    <lable for="misc items">Misc. Items</lable>
    <div class="form-group">
        <textarea class="form-control" rows="5" cols="79"></textarea>
    </div><br>
    <div><button type="submit">SUBMIT</button></div>
</form>
<br>
<br>
<br>