<h1>Picture References Page</h1>
<div>
    <p id="picNames"><strong>Boat Sushi Sashimi Combo<br></strong></p>
    <img src="boat.jpg" alt="Boat Platter">
</div>
<div>
    <p id="picNames"><strong>Yellowtail Sashimi<br></strong></p>
    <img src="Yellowtail-Sashimi.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Oh-Baby<br></strong></p>
    <img src="Oh-Baby.jpg" alt="Oh-Baby">
</div>
<div>
    <p id="picNames"><strong>Albacore Sashimi with Amaebi and Ika served in a martini glass<br></strong></p>
    <img src="Albacore-Sashimi.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Misc. Platter<br></strong></p>
    <img src="Platter1.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Misc. Platter 2<br></strong></p>
    <img src="Platter2.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Salmon Sashimi<br></strong></p>
    <img src="Salmon-Sashimi.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong><br>Spicy Sashimi Sald</strong></p>
    <img src="SpicySashimiSalad.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Sashimi Platter w/ two rolls<br></strong></p>
    <img src="Sashimi-Platter.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Summer Breeze<br></strong></p>
    <img src="summerBreeze.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong><br>Sushi Sashimi Combo</strong></p>
    <img src="Sushi-Sashimi-Combo.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Sushi Sashimi Combo 2<br></strong></p>
    <img src="Sus-Sas-Combo.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Misc. Platter 3<br></strong></p>
    <img src="Platter3.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Misc. Platter 4<br></strong></p>
    <img src="Platter4.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Sushi Deluxe<br></strong></p>
    <img src="Sushi-Deluxe.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>Tuna Sashimi<br></strong></p>
    <img src="Tuna-Sashimi.jpg" alt="">
</div>

<div>
    <p id="picNames"><strong>Chirashi<br></strong></p>
    <img src="chirashi.jpg" alt="">
</div>
<div>
    <p id="picNames"><strong>To go Sashimi Platter<br></strong></p>
    <img src="To-go-Sashimi.jpg" alt="">
</div>
