<body id="picRefPage">
<h1 id="picPageTitle">Picture References</h1>
<br>
<br>
<br>
<div>
    <lable id="picNames">Boat Sushi Sashimi Combo<br></lable>
    <img src="images/boat.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Beef Tataki<br></lable>
    <img src="images/Beef Tataki.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Yellowtail Sashimi<br></lable>
    <img src="images/Yellowtail-Sashimi.jpg" alt="Yellowtail sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Oh-Baby<br></lable>
    <img src="images/Oh-Baby.jpg" alt="Oh-Baby" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Chef Special<br></lable>
    <img src="images/Chef Special.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Misc. Platter<br></lable>
    <img src="images/Platter1.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Misc. Platter 2<br></lable>
    <img src="images/Platter2.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Salmon Sashimi<br></lable>
    <img src="/images/Salmon-Sashimi.jpg" alt="Salmon sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><br>Spicy Sashimi Sald</lable>
    <img src="images/SpicySashimiSalad.jpg" alt="Spicy Sashimi Salad" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Albacore Sashimi with Amaebi and Ika served in a martini glass<br></lable>
    <img src="images/Albacore-Sashimi.jpg" alt="Albacore" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Sashimi Platter w/ two rolls<br></lable>
    <img src="images/Sashimi-Platter.jpg" alt="Sashimi Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Summer Breeze<br></lable>
    <img src="images/summerBreeze.jpg" alt="Summer Breeze" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Sushi Sashimi Combo<br></lable>
    <img src="images/Sushi-Sashimi-Combo.jpg" alt="Sushi Sashimi Combo" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Sushi Sashimi Combo 2<br></lable>
    <img src="images/Sus-Sas-Combo.jpg" alt="Sushi Sashimi Combo 2" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Misc. Platter 3<br></lable>
    <img src="images/Platter3.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Misc. Platter 4<br></lable>
    <img src="images/Platter4.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Sushi Deluxe<br></lable>
    <img src="images/Sushi-Deluxe.jpg" alt="Sushi Deluxe" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Tuna Sashimi<br></lable>
    <img src="images/Tuna-Sashimi.jpg" alt="Tuna Sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">5 Roll Platter<br></lable>
    <img src="images/5Roll Platter.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">Chirashi<br></lable>
    <img src="images/chirashi.jpg" alt="Chirashi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames">To go Sashimi Platter<br></lable>
    <img src="images/To-go-Sashimi.jpg" alt="To go sashimi platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<br>
<br>
</body>
