<h1>Picture References</h1>
<div>
    <lable id="picNames"><strong>Boat Sushi Sashimi Combo<br></strong></lable>
    <img src="images/boat.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Beef Tataki<br></strong></lable>
    <img src="images/Beef Tataki.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Yellowtail Sashimi<br></strong></lable>
    <img src="images/Yellowtail-Sashimi.jpg" alt="Yellowtail sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Oh-Baby<br></strong></lable>
    <img src="images/Oh-Baby.jpg" alt="Oh-Baby" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Chef Special<br></strong></lable>
    <img src="images/Chef Special.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Albacore Sashimi with Amaebi and Ika served in a martini glass<br></strong></lable>
    <img src="images/Albacore-Sashimi.jpg" alt="Albacore" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Misc. Platter<br></strong></lable>
    <img src="images/Platter1.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Misc. Platter 2<br></strong></lable>
    <img src="images/Platter2.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Salmon Sashimi<br></strong></lable>
    <img src="images/Salmon-Sashimi.jpg" alt="Salmon sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong><br>Spicy Sashimi Sald</strong></lable>
    <img src="images/SpicySashimiSalad.jpg" alt="Spicy Sashimi Salad" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Sashimi Platter w/ two rolls<br></strong></lable>
    <img src="images/Sashimi-Platter.jpg" alt="Sashimi Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Summer Breeze<br></strong></lable>
    <img src="images/summerBreeze.jpg" alt="Summer Breeze" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong><br>Sushi Sashimi Combo</strong></lable>
    <img src="images/Sushi-Sashimi-Combo.jpg" alt="Sushi Sashimi Combo" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Sushi Sashimi Combo 2<br></strong></lable>
    <img src="images/Sus-Sas-Combo.jpg" alt="Sushi Sashimi Combo 2" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Misc. Platter 3<br></strong></lable>
    <img src="images/Platter3.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Misc. Platter 4<br></strong></lable>
    <img src="images/Platter4.jpg" alt="Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Sushi Deluxe<br></strong></lable>
    <img src="images/Sushi-Deluxe.jpg" alt="Sushi Deluxe" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Tuna Sashimi<br></strong></lable>
    <img src="images/Tuna-Sashimi.jpg" alt="Tuna Sashimi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>5 Roll Platter<br></strong></lable>
    <img src="images/5Roll Platter.jpg" alt="Boat Platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>Chirashi<br></strong></lable>
    <img src="images/chirashi.jpg" alt="Chirashi" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<div>
    <lable id="picNames"><strong>To go Sashimi Platter<br></strong></lable>
    <img src="images/To-go-Sashimi.jpg" alt="To go sashimi platter" class="img-responsive center-block" id="picRef">
</div>
<br>
<br>
<br>
<br>
