<h1 id="regPageBtn">Register</h1>
<form action="/register" method="POST">
    <label for="email">Email:</label>
    <div class="form-group">
        <input class="form-control" type="email" name="email" id="email" placeholder="abc@gmail.com">
    </div>
    <label for="password">Password:</label>
    <div class="form-group">
        <input class="form-control" type="password" name="password" id="password">
    </div>
    <button type="submit">SUBMIT</button>   
</form>