<head>
    <h1 id="vidPageTitle">Instructional Videos</h1>   
</head>
<br>
<br>
<br>
<body id="videoPage"></body>
    <div class="container" id="videoPage">    
    <div>
        <lable for="salmon" id="videoTitle">How to fillet half salmon</lable>
        <iframe width="1135" height="640"
            src="https://www.youtube.com/embed/K_TVMDi7wL4">   
        </iframe>
    </div>
    <br>
    <br>
    <br>
    <div>
        <lable for="cucumber" id="videoTitle">How to prepare Summber Breeze and cut cucumber</lable>
        <iframe width="1135" height="640"
            src="https://www.youtube.com/embed/5HIjXDL1UI4">   
        </iframe>
    </div>
    <br>
    <br>
    <br>
    <div>
        <lable for="tuneTataki" id="videoTitle">How to prepare Tuna Tataki</lable>
        <iframe width="1135" height="640"
            src="https://www.youtube.com/embed/oDGHDbOBsag">   
        </iframe>
    </div>
    <br>
    <br>
    <br>
    <div>
        <lable for="salmon" id="videoTitle">How to prepare Oh Baby</lable>
        <iframe width="1135" height="640"
            src="https://www.youtube.com/embed/0k0WoAdXO1o">   
        </iframe>
    </div>
</div>
<br>
<br>
<br>
</body>

